<html>
    <head>
        <title>Jungmin's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">JungminLog</a></h1>
        </div>

        <div>
            <!-- <p>published: 14.06.2014, 12:14</p> -->
            <h2><a href="">자기소개</a></h2>
            <p>안녕하세요. 경희대학교 학생 김정민입니다.</p>
        </div>

        <div>
            <!-- <p>published: 14.06.2014, 12:14</p> -->
            <h2><a href="">클라우드컴퓨팅 과제로 만든 블로그입니다.</a></h2>
            <p>흥미롭네요.</p>
        </div>
    </body>
</html>